<div class="container">
  <h1>Welcome to Emily's Blog Site</h1>
    <h3>Feel free to look at the blogs below, or create your own!</h3>
  <!-- look into submit button -->
</div>

<div class = "existing posts">
  <table>
    <caption>Existing Posts</caption>
      <tr>
        <th>Item ID</th>
        <th>Posts</th>
      </tr> 
        <%Post.all.each do |post| %>
      <tr>
        <td><a href="/posts/<%=post.id%>"><%=post.id%></a></td>
        <td><a href="/posts/<%=post.id%>"><%=post.title%></a></td>
        <%end%> 
      </tr>
    </tbody>
  </table>
</div>

<!-- Tags Below -->
<div class = "existing tags">
  <table>
    <caption>Existing Tags</caption>
      <tr>
        <th>Tags</th>
      </tr> 
    <tbody>
        <%Tag.all.each do |tag| %>
      <tr>  
        <td><a href="/tags/<%=tag.id%>"><%=tag.id%></a></td>
        <td><a href="/tags/<%=tag.id%>"><%=tag.title%></a></td>
      <%end%> 
    </tbody>
  </table>
</div>  

<div class = "new post">  
  <label for ="new post form">Make a new Post:</label>    
    <form action="/newpost" id ="post">
      <input type = "submit" value="New Post">
    </form>
</div>


<!-- 
<select name = "Existing Tags">
  <%Tag.all.each do |tag| %>

    <form action="/tags/<%=tag.id%>" id ="post">

    <option value="<%=tag.id%>"><%=tag.title%></option>

  <%end%> 
  <input type = "submit">
    
   
</select>  
 </form> 

  <form action="post_form" id ="post">
    Title:<input type="text" name="title">
    <input type = "submit">
  </form>



  <select>
    <option value="post1">title of post1</option>
    <option value="post2">title of post2</option>
  </select> -->
