<h1> A Particular Tag name here</h1>
<p> This is where there will be a list of posts. That are linked to that tag. </p>
<p>Make sure that these are links to those blogs</p>

<h1><%=@tag.title%></h1>
  <h3>Created At : <%=@tag.created_at%>
  
  <br>
    Updated At: <%=@tag.updated_at%></h3>


  <div class="tags">
    <p>This is a list of posts</p>
  
    <ul> 
      <%@tag.posts.each do |post| %>
      <ul><li><a href= "/posts/<%=post.id%>"><%=post.title %></a></li></ul>
      <%end%>
    </ul>  

  </div>




